<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Miniver|Seaweed+Script" rel="stylesheet">
    <!--Custom Stylesheet-->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Fashion Ace Scraper</title>
</head>

<body>
    {{{ body }}}
</body>

</html>