.jumbotron {
    background-image: url("/images/news.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #D9D6CD;
    height: 600px;
    margin-bottom: 0;
    border-radius: 0;  
    box-shadow: 0 4px 2px -2px gray;
}

.custom-navbar {
    box-shadow: 0 4px 2px -2px gray;
}

.title {
    z-index: 100;
    position: absolute;
    color: white;
    left: 550px;
    top: 250px;
    font-family: 'Seaweed Script', cursive;
}

#home {
    color: #FFEBCD;
}

.card {
    margin-top: 20px;
}

.border-color  {
    border: solid 2px #172F1F;
}

.headline {
    background-color: #172F1F;
    color: white;
}

